#navmenu-h ul, #navmenu-h ul li, #navmenu-h ul ul{ margin: 0; padding: 0; border: 0 none;list-style: none;}
#navmenu-h ul { margin:25px auto 0 auto; padding:10px 0; }
* html #navmenu-h ul { margin-top:36px; }
*+html #navmenu-h ul { margin-top:36px; }

#navmenu-h ul ul ul { margin-top:-1px;}
#navmenu-h ul ul:after /*From IE 7 lack of compliance*/ {
	clear: both; display: block; font: 1px/0px serif; content: "."; height: 0; visibility: hidden; }

#navmenu-h ul {
	height: 29px;
}
#navmenu-h ul li {
	height:29px;
	float: left;
	display: inline;
	position: relative;
	z-index:99;
}
#navmenu-h ul li ul {
	width: 160px;
	top: 29px;
	left: 0;
	display: none;
	position: absolute;
}
#navmenu-h ul li ul li {
	width: 160px;
	float: left;
	display: block !important;
	display: inline;
}
/* Root Menu */
#navmenu-h ul li a, ul#navmenu-v li a {
	border-left: none;
	padding: 0 10px;
	float: none !important;
	float: left;
	display: block;
	font: bold 12px Arial, Helvetica, sans-serif;
	text-decoration: none;
	height: auto !important;
	height: 1%;
	line-height:26px;
}
/* 2nd Menu */
#navmenu-h ul li:hover li a, ul#navmenu-v li:hover li a,
#navmenu-h ul li.iehover li a, ul#navmenu-v li.iehover li a { 
	float: none;
	_border-top:none;
}
#navmenu-h ul ul ul,
#navmenu-h ul ul ul ul,
#navmenu-h ul ul ul ul ul {
	display: none;
	position: absolute;
	top: 1px;
	left: 159px;
}


/* NO EDIT PAST THIS LINE - Do Not Move - Must Come Before display:block for Gecko */

#navmenu-h ul li:hover ul ul, ul#navmenu-v li:hover ul ul,
#navmenu-h ul li:hover ul ul ul, ul#navmenu-v li:hover ul ul ul,
#navmenu-h ul li:hover ul ul ul ul, ul#navmenu-v li:hover ul ul ul ul,
#navmenu-h ul li.iehover ul ul, ul#navmenu-v li.iehover ul ul,
#navmenu-h ul li.iehover ul ul ul, ul#navmenu-v li.iehover ul ul ul,
#navmenu-h ul li.iehover ul ul ul ul, ul#navmenu-v li.iehover ul ul ul ul {
	display: none;
}
#navmenu-h ul li:hover ul, ul#navmenu-v li:hover ul,
#navmenu-h ul ul li:hover ul, ul#navmenu-v ul li:hover ul,
#navmenu-h ul ul ul li:hover ul, ul#navmenu-v ul ul li:hover ul,
#navmenu-h ul ul ul ul li:hover ul, ul#navmenu-v ul ul ul li:hover ul,
#navmenu-h ul li.iehover ul, ul#navmenu-v li.iehover ul,
#navmenu-h ul ul li.iehover ul, ul#navmenu-v ul li.iehover ul,
#navmenu-h ul ul ul li.iehover ul, ul#navmenu-v ul ul li.iehover ul,
#navmenu-h ul ul ul ul li.iehover ul, ul#navmenu-v ul ul ul li.iehover ul {
	display: block;
}
/* #end -------------- */



#navmenu-h ul li a { font-family:Arial, Helvetica, sans-serif; font-size:12px; text-transform:uppercase; font-weight:bold; text-decoration:none; padding:1px 18px 1px 0px; margin:0px 0px 0px 15px;  _margin:0px 0px 0px 5px; text-transform:uppercase; line-height:26px; }
#nav ul li a:hover { text-decoration:none; }

#navmenu-h ul li ul li a { margin:0; padding-left:10px }
#navmenu-h ul li ul li ul li {height:29px;  }
#navmenu-h ul li {height:29px;  }

#navmenu-h h3 { display:none; }





